{% extends 'tasks/base.html' %}

{% block content %}
<h1>Edit Task</h1>

<form method="post" class="form-box">
    {% csrf_token %}

    <label>Title</label>
    <input type="text" name="title" value="{{ task.title }}">

    <label>Description</label>
    <textarea name="description" rows="4">{{ task.description }}</textarea>

    <label>Due Date</label>
    <input type="date" name="due_date" value="{{ task.due_date|date:'Y-m-d' }}">

    <button type="submit" class="btn btn-full">
        Save Changes
    </button>
</form>

<p>
    <a href="{% url 'task_list' %}">Back to tasks</a>
</p>
{% endblock %}